# **OLYMPICS CAPSTONE PROJECT**

## **INTRODUCTION**

The Olympics are regarded as a major athletic event in which thousands of competitors from all over the world compete in a range of events. Nations from all over the world compete, and the Olympic games are often regarded as the world's most popular sporting event. Data Science and Machine Learning techniques will be of significant assistance in the decision-making processes of trainers, players, and governments in these countries.

The findings may be used to highlight the need for new policies to increase the quality of physical education in a country. According to the data, a variety of factors contribute to these countries' performance in the games.

A single player can play many games.
 The columns are the following:

ID - Unique number for each athlete

Name - Athlete's name

Age - Integer

Sports - Year and season

Year - The year in which a certain olympic event took place.

Country - Host city

Sport - Sport

Medal - Gold, Silver, Bronze, and Total medals

Date_given - The date on which a sporting event will take place.

In [ ]:
pip install pyspark # installation of pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b345a28cc73b8b4df83030f8717a51b5691b43443e4d22878ab995d54fba0ce6
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
#Initializing PySpark
from pyspark import SparkContext, SparkConf 
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import sum, col, desc, asc, count
from pyspark.sql import functions as f
#importing required libraries
import pandas as pd
import numpy as np

In [ ]:
#Spark Configuration
conf = SparkConf().setAppName("sample_app")
sc = SparkContext(conf=conf)
spark = SparkSession.builder.appName('Practice').getOrCreate() # creation of Spark Session
sqlContext = SQLContext(sc)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

## Write PySpark code to read olympix_data.csv file

In [ ]:
olympix = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/content/olympix_data_organized_with_header (1) (1).csv") # reading dataset with the help of pyspark

Here we are reading the csv file dataset using the spark.

In [ ]:
olympix.show() # checking the rows in dataset

+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name|age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps| 23|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps| 19|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps| 27|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin| 25|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov| 24|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts| 24|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin| 17|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte| 27|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt| 22|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin| 21|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe| 17|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres| 33|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen| 26|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin| 18|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|       Marit Bjørgen| 29|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang| 20|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry| 24|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby Lenton-Tric...| 23|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte| 24|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn| 30|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

We can see the top 20 rows of the dataset.

In [ ]:
olympix.columns # checking the columns in dataset

['name',
 'age',
 'country',
 'year',
 'Date_Given',
 'sports',
 'gold_medal',
 'silver_medal',
 'brone_medal',
 'total_medal']

Here we can see the columns which are present in the dataset.

In [ ]:
olympix.printSchema() # schema of pyspark

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- Date_Given: string (nullable = true)
 |-- sports: string (nullable = true)
 |-- gold_medal: integer (nullable = true)
 |-- silver_medal: integer (nullable = true)
 |-- brone_medal: integer (nullable = true)
 |-- total_medal: integer (nullable = true)

We are checking the types of the data present in the dataset using the Schema.

## Write PySpark code to print the Olympic Sports/games in the dataset.

In [ ]:
olympix.select('sports').distinct().show() #distinct sports in dataframe

+--------------------+
|              sports|
+--------------------+
|          Gymnastics|
|              Tennis|
|              Boxing|
|Short-Track Speed...|
|          Ice Hockey|
|              Rowing|
|                Judo|
|            Softball|
|             Sailing|
|            Swimming|
|       Alpine Skiing|
|          Basketball|
|            Handball|
| Rhythmic Gymnastics|
|            Biathlon|
|           Triathlon|
|           Badminton|
|           Athletics|
|      Figure Skating|
|    Beach Volleyball|
+--------------------+
only showing top 20 rows

Here we can clearly see that the sports which are given in the dataset.

## Write PySpark code to plot the total number of medals in each Olympic Sport/game

In [ ]:
# groupby sports than performing aggregate function on total medals and than arranging in descending order

sport_medal=olympix.groupBy("sports") \
    .agg(sum("total_medal").alias("Total")) \
    .sort(desc("Total"))

In [ ]:
plot_sport_medal=sport_medal.toPandas() # using pandas for plotting purpose
plot_sport_medal

                       sports  Total
0                    Swimming    765
1                   Athletics    753
2                      Rowing    576
3                    Football    407
4                      Hockey    388
5                  Ice Hockey    384
6                    Handball    351
7                    Canoeing    333
8                   Waterpolo    306
9                     Cycling    306
10                 Basketball    287
11                 Gymnastics    282
12                 Volleyball    281
13                    Fencing    256
14                  Wrestling    245
15                       Judo    224
16                   Baseball    216
17                    Sailing    210
18                   Shooting    192
19                     Boxing    188
20                 Equestrian    182
21              Weightlifting    180
22       Cross Country Skiing    174
23                     Diving    144
24              Speed Skating    140
25  Short-Track Speed Skating    138
26                   Biathlon    138
27                   Softball    134
28      Synchronized Swimming    129
29                  Taekwondo    112
30                  Badminton     96
31                    Archery     96
32              Alpine Skiing     90
33        Rhythmic Gymnastics     84
34               Table Tennis     84
35                    Curling     82
36                     Tennis     78
37                  Bobsleigh     72
38             Figure Skating     54
39                Ski Jumping     54
40            Nordic Combined     54
41           Beach Volleyball     48
42               Snowboarding     48
43           Freestyle Skiing     42
44                       Luge     36
45                  Triathlon     24
46          Modern Pentathlon     24
47                 Trampoline     24
48                   Skeleton     18

We can see the total number of medals in each sports in the Olympics.

## Sort the result based on the total number of medals.

In [ ]:
# plotting with help of ploty
import plotly.express as px
fig = px.treemap(plot_sport_medal, 
                 path=["sports","Total"],
                 values=plot_sport_medal["Total"],
                 color='sports',width=1400, height=1600
                )


fig.show()

In this plot we can visualize clear view of each sports with the count of the medals and we can see that the map is pointed on each sports the size of the boxes in the map are differed from each other so that we can clearly understand the sports with the count of the medals value.

## Find the total number of medals won by each country in swimming.

In [ ]:
#groupby sports and country and then aggregation
sp_count_Tot=olympix.groupby('sports','country').agg(sum("total_medal").alias("Total")).sort(desc("Total"))

In [ ]:
sp_count_Tot.filter(olympix['sports']=='Swimming').show()

+--------+-------------+-----+
|  sports|      country|Total|
+--------+-------------+-----+
|Swimming|United States|  267|
|Swimming|    Australia|  163|
|Swimming|  Netherlands|   46|
|Swimming|        Japan|   43|
|Swimming|       France|   39|
|Swimming|        China|   35|
|Swimming|      Germany|   32|
|Swimming|       Russia|   20|
|Swimming|        Italy|   16|
|Swimming| South Africa|   11|
|Swimming|Great Britain|   11|
|Swimming|      Hungary|    9|
|Swimming|       Sweden|    9|
|Swimming|       Brazil|    8|
|Swimming|     Zimbabwe|    7|
|Swimming|      Ukraine|    7|
|Swimming|      Romania|    6|
|Swimming|       Canada|    5|
|Swimming|  South Korea|    4|
|Swimming|        Spain|    3|
+--------+-------------+-----+
only showing top 20 rows

Here we are grouping the sports and country and performing an aggregation with total medals and filering the data. So that we can check with the total count of medals in Swimming.

## Find the total number of medals won by each country in Skeleton.

In [ ]:
sp_count_Tot.filter(olympix['sports']=='Skeleton').show()

+--------+-------------+-----+
|  sports|      country|Total|
+--------+-------------+-----+
|Skeleton|       Canada|    4|
|Skeleton|United States|    3|
|Skeleton|  Switzerland|    3|
|Skeleton|Great Britain|    3|
|Skeleton|      Germany|    2|
|Skeleton|      Austria|    1|
|Skeleton|       Latvia|    1|
|Skeleton|       Russia|    1|
+--------+-------------+-----+

Here we are grouping the sports and country and performing an aggregation with total medals and filtering the data. So that we can check with the total count of medals in Skeleton.

## Find the number of medals that the US won yearly.

In [ ]:
# filter by country than groupby by year and country , after this aggergation on total number of medals
olympix.filter(olympix['country']=='United States').groupby('year','country').agg(sum("total_medal").alias("Total")).sort(desc("year")).show()

+----+-------------+-----+
|year|      country|Total|
+----+-------------+-----+
|2012|United States|  254|
|2010|United States|   97|
|2008|United States|  317|
|2006|United States|   52|
|2004|United States|  265|
|2002|United States|   84|
|2000|United States|  243|
+----+-------------+-----+

Here we are grouping the year and country and performing an aggregation with total medals and filtering with the country United States. So that we can check with the total count of medals in United States.

## Find the total number of medals won by each country.

In [ ]:
# group by operation on country and aggeregation on total medals
olympix.groupby('country').agg(sum("total_medal").alias("Total")).sort(desc("Total")).show()

+-------------+-----+
|      country|Total|
+-------------+-----+
|United States| 1312|
|       Russia|  768|
|      Germany|  629|
|    Australia|  609|
|        China|  530|
|       Canada|  370|
|        Italy|  331|
|Great Britain|  322|
|       France|  318|
|  Netherlands|  318|
|  South Korea|  308|
|        Japan|  282|
|       Brazil|  221|
|        Spain|  205|
|       Norway|  192|
|         Cuba|  188|
|       Sweden|  181|
|      Hungary|  145|
|      Ukraine|  143|
|    Argentina|  141|
+-------------+-----+
only showing top 20 rows

Here we are grouping the country with total medals so that we can check the total number of medals won by each country.

## Who was the oldest athlete in the olympics? 

## Which country was he/she from?

In [ ]:
# group by country , player name and age , after it max age and sort it by age
OLd_ath=olympix.groupby('name','country','age').max('age').sort(desc("max(age)")).limit(1)

In [ ]:
OLd_ath.select('name','country','age').show() #checking the name of the athlete

+----------+-------+---+
|      name|country|age|
+----------+-------+---+
|Ian Millar| Canada| 61|
+----------+-------+---+

Here we can see the name, country and age of the oldest athlete in the Olympics by grouping with the maximum of the person.

# **CONCLUSION**

In this project, we had used the required libraries and Pyspark to analyse the dataset. From this we came to know that Spark is the most suitable to handle the dataset and process in one go. The Analysis concludes that Spark is the favourable option.

We have seen that a single player can play many games they can compete in number of Olympic events there are competitors all over the world and the Olympic games are often regarded as the world's most popular sporting event.